body {
    background-color:white
    
}


.mainHeader {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
    border-radius: 5px;
}

#searchBar {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}


.jumbotron {
    background-color:lightseagreen;
    color: white;
    margin: 5px;
}

.forecast {
    background-color: lightseagreen;
    color: white;
}

#uvInput {
    background-color: rgb(0, 38, 255);
}