body {
    background-color:white
    
}


.mainHeader {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
    border-radius: 5px;
}

#searchBar {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    
}


.jumbotron {
    background-color:lightseagreen;
    color: white;
    margin: 5px;
}

.forecast {
    background-color: lightseagreen;
    color: white;
}


#uvInput {
    background-color: rgb(0, 38, 255);
}

.row {
    display: flex;
    flex-direction: row;
}

.weather__content {
    width: 70%;
}

@media all and (max-width:767px){
    .prev__search {
        margin-left: 13%
    }

    .weather__content {
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
        margin-top: 10px;
    }

}